<!DOCTYPE html>

<html>

<head>
  <title></title>
  <link href="../styles/reset.css" rel="stylesheet" type="text/css">
  <link href="../styles/base.css" rel="stylesheet" type="text/css">
  <link href="../styles/layout.css" rel="stylesheet" type="text/css">
  <link href="../styles/modules.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <h1>We're alive!</h1>
  </header>
  <main>

  </main>
</body>

</html>