#textBox{
  background-color: white;
  color: black;
  text-align: left;
  width: 74%;
  border: 1px black solid;
  margin: 10px;
}

.radioButton{
  filter: grayscale(0);
  color: black;
  width: 74%;
  display: inline;
  overflow: hidden;
  text-align: left;
  padding: 10px;
}
#radioButton2{
  margin-top: 10px;
}

input, textarea, #updateButton{
  padding: 10px;
  border: 1px black solid;
  width: 250px;
  margin-top: 10px;
}
#bodyNew{
  border: 1px black solid;
}
#buttonNew{
  padding: 10px;
  width: 80%;
  margin-top: 10px;
}
#h1New{
  text-align: left;
}
#searchResults{
  border: 30px rgb(63, 62, 62) solid;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 200px;
  padding: 25px 25px 25px 35px;
}
#formDiv:hover .updateBook{
display: inline-block;
}
